In [1]:
pip install tweepy

Requirement already satisfied: tweepy in d:\anaconda\lib\site-packages (4.7.0)
Requirement already satisfied: requests<3,>=2.27.0 in d:\anaconda\lib\site-packages (from tweepy) (2.27.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in d:\anaconda\lib\site-packages (from tweepy) (1.3.1)
Requirement already satisfied: oauthlib<4,>=3.2.0 in d:\anaconda\lib\site-packages (from tweepy) (3.2.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in d:\anaconda\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests<3,>=2.27.0->tweepy) (1.26.4)

In [2]:
pip install configparser

Requirement already satisfied: configparser in d:\anaconda\lib\site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pyenchant

Requirement already satisfied: pyenchant in d:\anaconda\lib\site-packages (3.2.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import tweepy
import configparser
import pandas as pd
import time

In [6]:
# read configs
config = configparser.ConfigParser()
config.read("config.ini")

api_key = config["twitter"]["api_key"]
api_key_secret = config["twitter"]["api_key_secret"]

access_token = config["twitter"]["access_token"]
access_token_secret = config["twitter"]["access_token_secret"]

In [7]:
# authentication
auth = tweepy.OAuth2AppHandler(api_key, api_key_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [35]:
columns = ["Tweet","Time","Location"]
data_Hasht = []
data_tweet = []
data_acc = []

def replaceNewLine(String):
    return String.replace("\n", " ")

# define dataframe with columns .....
df = pd.DataFrame()

while '1' == '1':
    
    # My script that should loop here

    # search for a Hashtags
    keywords_Hashtags = "#فودافون"

    #search for a tweets
    keywords_tweets = "فودافون"

    #search for an account
    keywords_account = "@فودافون"
    
    #search in geographic location
    geoc="30.033333,31.233334,920km"

    limit = 5000

    tweets_Hashtags = tweepy.Cursor( api.search_tweets,q=keywords_Hashtags ,count=1000, tweet_mode="extended",lang="ar",geocode=geoc).items(limit)
    tweets_tweets = tweepy.Cursor( api.search_tweets,q=keywords_tweets, count=10000, tweet_mode="extended",lang="ar",geocode=geoc).items(limit)
    tweets_account = tweepy.Cursor( api.search_tweets,q=keywords_account, count=10000, tweet_mode="extended",lang="ar",geocode=geoc).items(limit)
    print("every day")
    
    
    
    # get all tweets text in the user home page timeline and append it in CSV file
    
    for tweet_Hasht in tweets_Hashtags:
        data_Hasht.append([tweet_Hasht.full_text,tweet_Hasht.created_at,tweet_Hasht.user.location])
     
    for tweet_tweet in tweets_tweets:
        data_tweet.append([tweet_tweet.full_text,tweet_tweet.created_at, tweet_tweet.user.location])

    for tweet_acc in tweets_account:
        data_acc.append([tweet_acc.full_text,tweet_acc.created_at, tweet_acc.user.location])

        
    #creat DataFrame
    df2 = pd.DataFrame(data_Hasht, columns=columns)
    df3 = pd.DataFrame(data_tweet, columns=columns)
    df4 = pd.DataFrame(data_acc, columns=columns)
    
    
    
    frames = [df2, df3,df4]
  
    df_temp = pd.concat(frames)
  
    #Removing punctuations like . , ! $( ) * % @ from the text
    df_temp['Tweet'] = df_temp['Tweet'].str.replace(r'[^\w\s]+', '')
    
    years=[]
    months=[]
    days=[]
    hours=[]
    minuites=[]
    #remove the zeros after the time and split the time column to time and date columns
    for i in df_temp['Time']:
        #hours.append(i.time().hour)
        #minuites.append(i.time().min)

        years.append(i.date().year)
        months.append(i.date().month)
        days.append(i.date().day)
    
    df_temp['year']=years
    df_temp['month']=months
    df_temp['day']=days
    #df_temp['hour']=hours
    #df_temp['min']=minuites
    
    
    df_temp = df_temp.drop(columns=['Time'])
    
    

    df_temp["Tweet"] = df_temp["Tweet"].apply(replaceNewLine)
 
    
    

    # append df_temp in main df
    df = df.append(df_temp)
    df.reset_index(drop=True, inplace=True)
    
    df.to_csv("Scrapping results after cleanning.csv",index=False, encoding = 'UTF-8')
    
    print(df)
    print(df.size)
    break
    time.sleep(90000)

every day
                                                  Tweet      Location  year  \
0     اللي بينا مايتقدر   عمرو_دياب فودافون httpstco...  Cairo, Egypt  2022
1     ما بعد فوق قمة الاستهتار والاهمال واللا مبالاة...         Egypt  2022
2     عاجل فضيحة فودافون تتسبب في أزمة بعد تسريب_بيا...         dokki  2022
3               10700 وحدة    3270105200846858  فودافون           مصر  2022
4     فودافون   8584575262021929698  250 وحده  85839...           مصر  2022
...                                                 ...           ...   ...
4786               كسم we على كسم فودافون كفرتوا الواحد  Cairo, Egypt  2022
4787  شنط رمضان 11  رمضان بلا محتاج   للتبرع فودافون...        tanta   2022
4788  الخط فودافون و الراوتر فودافون و لما شبكة زفت ...        cairo   2022
4789                          شركه فودافون شركه حراميه          Banha  2022
4790  و عملية برقم 22032pips0 تم استرداد المبلغ الي ...  Cairo, Egypt  2022

      month  day
0         4    4
1         4    4
2         4    4
3         4    3
4         4    3
...     ...  ...
4786      3   27
4787      3   27
4788      3   27
4789      3   27
4790      3   27

[4791 rows x 5 columns]
23955

<ipython-input-35-e66a3c91c78c>:61: FutureWarning: The default value of regex will change from True to False in a future version.
  df_temp['Tweet'] = df_temp['Tweet'].str.replace(r'[^\w\s]+', '')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4777 entries, 0 to 4776
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Tweet     4777 non-null   object
 1   Location  4777 non-null   object
 2   year      4777 non-null   int64
 3   month     4777 non-null   int64
 4   day       4777 non-null   int64
dtypes: int64(3), object(2)
memory usage: 186.7+ KB

In [26]:
df

,Tweet,Location,year,month,day
0,اللي بينا مايتقدر عمرو_دياب فودافون httpstco...,"Cairo, Egypt",2022,4,4
1,ما بعد فوق قمة الاستهتار والاهمال واللا مبالاة...,Egypt,2022,4,4
2,عاجل فضيحة فودافون تتسبب في أزمة بعد تسريب_بيا...,dokki,2022,4,4
3,10700 وحدة 3270105200846858 فودافون,مصر,2022,4,3
4,فودافون 8584575262021929698 250 وحده 85839...,مصر,2022,4,3
...,...,...,...,...,...
4772,كسم we على كسم فودافون كفرتوا الواحد,"Cairo, Egypt",2022,3,27
4773,شنط رمضان 11 رمضان بلا محتاج للتبرع فودافون...,tanta,2022,3,27
4774,الخط فودافون و الراوتر فودافون و لما شبكة زفت ...,cairo,2022,3,27
4775,شركه فودافون شركه حراميه,Banha,2022,3,27
4776,و عملية برقم 22032pips0 تم استرداد المبلغ الي ...,"Cairo, Egypt",2022,3,27