In [1]:
import json
import pandas as pd
import firebase_admin
from datetime import datetime
from firebase_admin import credentials
from firebase_admin import firestore

In [2]:

df = pd.read_csv('C:\\Users\\fmabd\\Documents\\GitHub\\Smart-Customer-Care\\Text Normalization\\Tweets.csv')

In [3]:
df

,Tweet,Location,year,month,day,Sentiment
0,,,,,,neutral
1,Ø®Ø§ØµÙŠØ© Ø§Ù„Ø±Ù‚Ù… ØºÙŠØ± ØµØ­ÙŠØ­ ÙÙˆØ¯Ø§ÙÙˆÙ† ÙˆÙƒÙŠÙÙŠØ© Ø§Ù„ØºØ§Ø¦Ù‡Ø§,Egypt,2022.0,3.0,31.0,neutral
2,Ù„Ùˆ Ø¹Ù†Ø¯Ùƒ Ù…Ø­ÙØ¸Ø© Ø¥Ù„ÙƒØªØ±ÙˆÙ†ÙŠØ© ØªØ§Ø¨Ø¹Ø© Ù„Ø§ÙŠ Ø¨Ù†Ùƒ ÙˆØ¹Ø§ÙˆØ² ØªÙ„...,"El Daqahlia, Egypt",2022.0,3.0,31.0,neutral
3,ÙÙˆØ¯Ø§ÙÙˆÙ† ØªÙ‚Ø±Ø± ØªØ¹ÙˆÙŠØ¶ Ø§Ù„Ø¹Ù…Ù„Ø§Ø¡ Ø¨Ù…ÙƒØ§Ù„Ù…Ø§Øª Ù…Ø¬Ø§Ù†ÙŠØ© Ø¨Ø¹Ø¯...,Cairo,2022.0,3.0,31.0,neutral
4,ÙÙˆØ¯Ø§ÙÙˆÙ†Ø­Ø±ØµØ§ Ù…Ù†Ø§ Ø¹Ù„ÙŠ Ø±Ø¶Ø§Ø¦Ùƒ Ø¢Ø®Ø¯ Ø´Ù‡Ø± Ø±Ù…Ø¶Ø§Ù† Ù…Ø¬Ø§Ù†ÙŠ ...,Tanta,2022.0,3.0,31.0,neutral
...,...,...,...,...,...,...
3631,Ø¹Ø±ÙˆØ¶ ÙÙˆØ¯Ø§ÙÙˆÙ† Ø¹Ù„Ù‰ Ø¨Ø§Ù‚Ø§Øª Ø§Ù„Ù…ÙƒØ§Ù„Ù…Ø§Øª ÙˆØ§Ù„Ø§Ù†ØªØ±Ù†Øª Ø§Ù„...,"Ø§Ù„Ù‚Ø§Ù‡Ø±Ø©, Ù…ØµØ±",2022.0,3.0,22.0,neutral
3632,Ù‡Ø¯ÙÙ†Ø§ Ù†Ø¬Ù…Ø¹ Ø³Ù‡Ù… ÙƒÙ„ Ø³Ù‡Ù… Ø¨ Ø¬ ÙˆØªÙ‚Ø¯Ø± ØªØ´Ø§Ø±Ùƒ Ø¨Ø§Ù„Ù„ÙŠ ...,"Cairo, Egypt",2022.0,3.0,22.0,positive
3633,Ø´Ø§Ù‡Ø¯ Ø£Ø¨ÙŠÙˆØ³Ù ÙÙŠ Ø¥Ø¹Ù„Ø§Ù† ÙÙˆØ¯Ø§ÙÙˆÙ† Ø§Ù„Ø¬Ø¯ÙŠØ¯,"Cairo, Egypt",2022.0,3.0,22.0,neutral
3634,ÙŠØ¹Ù†ÙŠ Ø¥ÙŠÙ‡ ÙÙˆØ¯Ø§ÙÙˆÙ† ÙƒØ§Ù† Ø¥Ø³Ù…Ù‡Ø§ ÙƒÙ„ÙŠÙƒ Ùˆ Ù…ÙˆØ¨ÙŠÙ†ÙŠÙ„ ÙƒØ§Ù† ...,Ù…Ù€Ù€ğ“³ğ“†ƒÙ€ØµÙ€Ø± ğ•°ğ–Œğ–ğ–•ğ–™ğ“³ğ“„¿ğ“…“,2022.0,3.0,22.0,neutral
3635,,,,,,neutral

In [4]:
df.dropna(inplace= True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3547 entries, 0 to 3635
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Tweet      3547 non-null   object
 1   Location   3547 non-null   object
 2   year       3547 non-null   object
 3   month      3547 non-null   object
 4   day        3547 non-null   object
 5   Sentiment  3547 non-null   object
dtypes: object(6)
memory usage: 194.0+ KB

In [6]:
CredNew = credentials.Certificate('C:\\Users\\fmabd\\Documents\\GitHub\\Smart-Customer-Care\\Database\\smartcc-960f7-firebase-adminsdk-ijo0i-27aa89d85e.json')
new=firebase_admin.initialize_app(CredNew,name="new")

db = firestore.client(new)

In [15]:
csv= json.loads(json.dumps(df[0:3000].to_dict()))

In [16]:
csv2= json.loads(json.dumps(df[3000:].to_dict()))

In [17]:


# datetime object containing current date and time
now = datetime.now()
now= str(now)


now1 = datetime.now()
now1= str(now1)

In [18]:
tweets= db.collection(u'test').document(now).set(csv)
tweets1= db.collection(u'test').document(now1).set(csv2)

# will use these commented codes in upcoming phases #

In [ ]:
'''
DataOld=[]
ids=[]
all_users_ref_2 = db.collection(u'test').stream()
for users in all_users_ref_2:
    #print(u'{} => {}'.format(users.id, users.to_dict()))
    DataOld.append(users.to_dict())
    ids.append(users.id)
'''

In [ ]:
'''
dataNew=[]
idsNew=[]
all_users_ref_2 = db.collection(u'test').stream()
for users in all_users_ref_2:
    #print(u'{} => {}'.format(users.id, users.to_dict()))
    dataNew.append(users.to_dict())
    idsNew.append(users.id)
'''

In [ ]:
#compare between new data and old one
'''
for i in range(len(DataOld)):
    if DataOld[i] not in dataNew:
        db.collection(u'test').document(ids[i]).set(DataOld[i])
    else:
        print("data already exists")
    '''

In [ ]:
#read old data from old firebase account
'''
# Use a service account
CredOld = credentials.Certificate('C:\\Users\\fmabd\\Documents\\GitHub\\Smart-Customer-Care\\Database\\smartcc-26e57-85547b8418c0.json')
old=firebase_admin.initialize_app(CredOld,name="old")

db = firestore.client(old)
'''

In [ ]:
# read full collection in the new account
'''

database_2 = firestore.client()
all_users_ref_2 = database_2.collection(u'test').stream()
for users in all_users_ref_2:
  print(u'{} => {}'.format(users.id, users.to_dict()))

'''